html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

body {
  overflow-x: hidden;
}

#root {
  max-width: none;
  padding: 0;
  text-align: initial;
}

.App {
  min-height: 100vh;
}
